<nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="{{site.baseurl}}/">Mục lục</a>
            <ul class="nav bd-sidenav">
                
                {% for item in site.data.listleftlink %}
                <li {% if page.url == item.link %}class="active"{% endif %}>
                        <a href="{{site.baseurl}}{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
                    
            
              
                <li> <a href="{{site.baseurl}}  {{page.url}} ">{{page.url}}</a></li>
            </ul>
           
        </div>
</nav>


