
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="position: relative;">
    <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
            <a class="nav-link active" href="{{ prepend:site.baseurl }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">2019</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ prepend:site.baseurl }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Lập trình PHP - Trường TCXD HÀ NỘI</a>
        </li>
    </ul>
    </div>

    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" 
    data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" 
    aria-expanded="false" aria-label="Toggle docs navigation">
    Danh Mujc
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>
</button>

</header>